@font-face {
    font-family: rh;
    src: url(./Rejouice-Headline.woff2);
}

@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.woff2);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.page1 {
    width: 100%;
    height: 100vh;
    background-color: #dadada;
    position: relative;
}

.page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.page1 .page1_con {
    width: 100%;
    height: 100%;
    /* background-color: #000; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.page1 .page1_con nav {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 3vw;
    color: #fff;
}

.page1_con nav h3,
h4 {
    font-size: 1.4vw;
    font-family: nb;
    line-height: normal;
}

.page1_con h1 {
    color: #fff;
    font-family: rh;
    font-size: 26.7vw;
    line-height: 27vw;
    font-weight: 600;
}

.page1 .page1_con h1 span {
    display: inline-block;
    font-family: rh;
}

.cursor {
    height: 7.5vw;
    width: 7.5vw;
    background-color: #FF5F38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.cursor h5 {
    font-size: 1.2vw;
}

.page2 {
    width: 100%;
    height: 100vh;
    background-color: #FAF8F3;
}

.page2 .elem1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* We are a digital brand accelerator. We design, develop, and scale market-defining brands by unlocking their hidden potential. Choose full cash compensation or offset up to 50% of our fees for equity in your company. Your vision, your decision. */
    align-items: center;
    padding: 6vw 4vw;
    /* flex-direction: column; */
}

.elem1 h1,
h2 {
    color: #0E0E0E;
    font-family: nb;
    font-size: 2vw;
}

.elem2 {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.elem2 h1 {
    font-family: nb;
    font-size: 4vw;
    font-weight: 100;
    padding: 3vw 9vw;
    overflow: hidden;
    line-height: normal;
}

.elem2 h1 span {
    font-family: nb;
    display: inline-block;
}

.page3 {
    min-height: 100vh;
    width: 100%;
    padding: 3vw;
}

.page-top {
    /* position: relative; */
    /* background-color: red; */
    text-align: center;
    margin-top: 12vw;
}

.page-top h4 {
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
}

.page-top h4 span {
    font-size: .65vw;
    background-color: #000;
    padding: 4px 10px;
    border-radius: 10px;
    color: #fff;
}

.page-top h1 {
    font-size: 4vw;
    font-weight: lighter;
    font-family: nb;
    text-decoration: underline;
}

.page-elements {
    height: 75vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6vw;
}

.page-elements .box {
    height: 100%;
    width: 33%;
    position: relative;
    /* background-color: blue; */
}

.page-elements .box video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page-elements .box img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear .7s;
}

.page-elements .box:hover img {
    opacity: 0;
    /* display: none; */
}

.page4 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    /* background-color: #000; */
}

.page4 .elem {
    width: 100%;
    height: 75vh;
    /* background-color: red; */
    padding: 3vw;
    margin-top: 7vw;
    font-family: nb;
    font-weight: lighter;
    font-size: 1vw;
}

.page4 .elem h1 {
    color: #0E0E0E;
    font-family: nb;
}

.page4 .elem h2 {
    font-family: nb;
    font-size: 4vw;
    padding: 3vw 5vw;
    text-align: left;
    font-weight: lighter;
}

.page4 .elem h2 span {
    margin-left: 7vw;
}

.page4 .animation {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.page4 .animation .cursor {
    height: 7.5vw;
    width: 7.5vw;
    background-color: #000000;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.page4 .animation .cursor h1 {
    font-size: 1.2vw;
    font-family: nb;
    color: #fff;
}

.page4 .animation video {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page4 .animation svg {
    position: absolute;
    height: 35%;
    text-align: center;
}

.page4 .elemm2 {
    width: 100%;
    height: 80vh;
    padding: 3vw;
    position: relative;
}

.page4 .elemm2 h1 {
    font-size: 1.5vw;
    font-family: nb;
    font-family: 600;
}

.page4 .elemm2 h1 span {
    display: inline-block;
}

.page4 .elemm2 h2 {
    font-family: nb;
    font-size: 4vw;
    padding: 4vw 4vw;
    position: relative;
    right: 4vw;
}

.page4 .elemm2 h2 span {
    /* display: inline-block; */
    font-family: nb;
    font-size: 4vw;
    /* padding: 4vw 4vw; */
    /* position: relative;
    right: 4vw; */
    font-weight: lighter;
}

.page4 .elemm2 h2 .first {
    margin-left: 7vw;
}

.page5 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 4vw 0;
    position: relative;
}

.page5 h1 {
    font-size: 10vw;
    font-family: rh;
    font-weight: lighter;
    border-bottom: 2px solid #656565;
    width: 96%;
    margin-left: 2%;
}

.slider {
    height: 60vh;
    width: 100%;
    margin-top: -7%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 450px;
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.swiper-slide img {
    display: block;
    width: 19%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}